* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

html,
body,
#app {
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
    sans-serif;
}

@form-input-width: 220px;

@primary: #05c247;

@blue: #409eff;

@green: #67c23a;

@orange: #e6a23c;

@red: #f56c6c;

@gray: #909399;

.edit-form {
  display: inline-block;

  .form-box-input {
    display: inline-block;
    width: @form-input-width !important;
  }

  .form-box-input-m {
    display: inline-block;
    width: (@form-input-width - 60px) !important;
  }

  .form-box-input-2 {
    width: (@form-input-width * 2) !important;
  }
}

.el-dialog {
  border-radius: 4px;
  .el-dialog__header {
    background-color: @blue;
    border-radius: 4px 4px 0px 0px;
    .el-dialog__title {
      color: #fff;
    }
    .el-dialog__headerbtn .el-dialog__close {
      color: #fff;
    }
  }
}

.el-breadcrumb {
  margin-bottom: 12px;
  font-size: 12px;
}

.el-card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02), 0 0 6px 0 rgba(0, 0, 0, 0.04) !important;
}

.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-col,
.el-table {
  border-radius: 4px;
}

.el-table--border td:not(:last-child),
.el-table--border th:not(:last-child) {
  border-right: transparent !important;
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.t {
  &-primary {
    color: @primary;
  }

  &-blue {
    color: @blue;
  }

  &-green {
    color: @green;
  }

  &-orange {
    color: @orange;
  }

  &-red {
    color: @red;
  }

  &-gray {
    color: @gray;
  }

  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-16 {
    font-size: 16px;
  }

  &-18 {
    font-size: 18px;
  }

  &-20 {
    font-size: 20px;
  }

  &-stop {
    cursor: not-allowed;
  }
}
.m {
  &b {
    &-10 {
      margin-bottom: 10px;
    }

    &-20 {
      margin-bottom: 20px;
    }
  }

  &t {
    &-10 {
      margin-top: 10px;
    }

    &-12 {
      margin-top: 12px;
    }

    &-18 {
      margin-top: 18px;
    }

    &-24 {
      margin-top: 24px;
    }
  }

  &l {
    &-5 {
      margin-left: 5px;
    }

    &-10 {
      margin-left: 10px;
    }

    &-20 {
      margin-left: 20px;
    }
  }

  &r {
    &-10 {
      margin-right: 10px;
    }

    &-12 {
      margin-right: 12px;
    }

    &-18 {
      margin-right: 18px;
    }

    &-20 {
      margin-right: 20px;
    }

    &-24 {
      margin-top: 24px;
    }
  }
}
