* {
  margin: 0;
  padding: 0;
  transition: .3s;
}

html,
body,
#app {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.text {

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.m {
  &t {
    &-10 {
      margin-top: 10px;
    }

    &-12 {
      margin-top: 12px;
    }

    &-18 {
      margin-top: 18px;
    }

    &-24 {
      margin-top: 24px;
    }
  }

  &r {
    &-10 {
      margin-right: 10px;
    }

    &-12 {
      margin-right: 12px;
    }

    &-18 {
      margin-right: 18px;
    }

    &-20 {
      margin-right: 20px;
    }

    &-24 {
      margin-top: 24px;
    }
  }
}